.wrapper {
	width: 100%;
	padding: 20px;
	margin-right: 20px;
	background-color: #ffffff;
}
.title {
	font-weight: 400;
	font-size: 28px;
	line-height: 36px;
}
.sub_title {
	margin-top: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #565959;
	text-align: right;
}
.cards_container {
	padding: 0 0 10px 0;
}
.cards_container_subtitle {
	font-weight: 400;
}
.subtotal_wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
