.wrapper {
	display: flex;
	align-items: flex-end;
}

.cart {
	position: relative;
	margin-right: 5px;
}

.counter {
	position: absolute;
	top: 0px;
	left: 17px;
	color: #FF9900;
	font-size: 16px;
	font-weight: 700;
}

.name {
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	padding-bottom: 8px;
}