.wrapper {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 25px;
	background-color: #252F3D;
}

.blur {
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 400px;
	backdrop-filter: blur(2px);
}

.burger {
	display: flex;
	margin-right: 25px;
	cursor: pointer;
}

.burger img {
	margin-right: 10px;
}

.categories {
	display: flex;
	align-items: center;
}

.category {
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

.category:not(:last-child) {
	margin-right: 25px;
}