.input {
	flex: 1 1 auto;
	height: 100%;
	font-size: 16px;
	padding: 0 15px;
	border: transparent;
	outline: none;
}

.input::placeholder {
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 400;
}