.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0 25px;
	background-color: #141920;
}

.logo {
	margin-right: 100px;
}