.card_wrapper {
	display: flex;
	padding: 20px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.card_toggle_box {
	padding-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card_choised {
	position: relative;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	background-color: #007185;
	border: 1px solid #007185;
	border-radius: 4px;
}
.card_choised:hover {
	cursor: pointer;
}
.card_choised::before {
	content: '';
	position: absolute;
	top: 3px;
	left: 2px;
	width: 9px;
	height: 4px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	transform: rotate(-45deg);
}
.card_unchoised {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	background-color: #ffffff;
	border: 1px solid #898c8c;
	border-radius: 4px;
}
.card_unchoised:hover {
	cursor: pointer;
	border: 2px solid #007185;
}
.card_image {
	display: flex;
	align-items: center;
}
.card_image img {
	width: 150px;
}
.card_description {
	padding-left: 5px;
	display: flex;
	flex-direction: column;
}
.card_description_title {
	font-size: 14px;
}
.card_description_items {
	display: flex;
	flex-direction: column;
}
.card_description_item {
	font-size: 12px;
}
.action_links {
	margin-top: 10px;
	display: flex;
}
.action_link_select {

}
.action_separator {
	display: inline-block;
	height: 100%;
	width: 1px;
	margin: 0px 10px;
	background-color: #DDDDDD;
}
.action_link_delete {
	/* border-left: 1px solid #DDDDDD; */
	color: #007185;
}
.action_link_delete:hover {
	cursor: pointer;
	text-decoration: underline;
}

.card_price {
	width: 100px;
	flex-shrink: 0;
	text-align: right;
}
